{{ range .Results}}
--------------------------------------------------------------------------------
{{ .Name }} ({{ printf "%.0f" .Distance }}mi)
{{ with .Locale }}{{ . }}{{ end }}
{{- range .Availability}}
  * {{.SiteType}} available {{ .Date.Month }} {{ .Date.Day }}
    {{.URL}}
{{- end }}

{{ with .Desc }}{{ . }}{{ end }}

{{- range .KnownCampground.Refs }}
 > {{ .Source.Name }}: [{{ .Rating }}/{{ .Source.RatingMax }} {{ .Source.RatingDesc }}]
 >
 >  {{.Desc | Ellipsis }}
{{- end }}
{{ end }}

{{- range .Errors}}ERROR: {{ . }}{{ end -}}
--------------------------------------------------------------------------------
