<html>
<head>
<style>
fieldset {
    display: inline-block;
    border: none;
}
label {
    font-weight: bold;
}
</style>
</head>
<body>

<h1>sf.org</h1>

<form action="/search" method="get">
    <fieldset>
    <label>Dates</label>
      <textarea rows="5" cols="10" maxlength="50" name="dates">
{{ .Form.Dates }}
      </textarea>
    </fieldset>

    <fieldset>
        <label>Nights</label>
        <input type="number" name="nights" min="1" max="7" step="1" value="{{ .Form.Nights }} />
    </fieldset>

    <fieldset>
        <label>Distance</label>
        <select name="distance">
            <option value="50" {{ if eq .Form.Distance 50 }}selected {{ end }}>50 miles</option>
            <option value="100" {{ if eq .Form.Distance 100 }}selected {{ end }}>100 miles</option>
            <option value="150" {{ if eq .Form.Distance 150 }}selected {{ end }}>150 miles</option>
            <option value="250" {{ if eq .Form.Distance 250 }}selected {{ end }}>250 miles</option>
        </select>
    </fieldset>

    <fieldset>
        <label>Type</label>
        <input type="checkbox" name="standard" {{ if .Form.Standard }}checked{{ end }}>Standard</input>
        <input type="checkbox" name="group" {{ if .Form.Group }}checked{{ end }}>Group</input>
        <input type="checkbox" name="walk-in" {{ if .Form.WalkIn }}checked{{ end }}>Walk-in</input>
        <input type="checkbox" name="boat-in" {{ if .Form.BoatIn }}checked{{ end }}>Boat-in</input>
        </label>
    </fieldset>

    <button type="submit">Search</button>
</form>



<hr />
{{ range .Results}}
{{ .Name }} ({{ .Distance}}mi)
Scenic Rating: {{ .M.Rating }}
{{ with .M.Locale }}{{ . }}{{ end }}
{{ range .Availability}}
Available {{ .Date.Month }} {{ .Date.Day }}: {{ with .Standard }}{{ . }} standard{{ end }} {{ with .WalkIn }}{{ . }} walk-in{{ end }} {{ with .Boat }}{{ . }} boat{{ end }} {{ with .Group }}{{ . }} group{{ end }}
{{ end }}
{{ with .M.Desc }}
{{ . }}
{{ else  }}
{{ .ShortDesc }}
{{ end }}
{{ .URL }}
{{ end }}

</body>
</html>
